@import url('https://fonts.googleapis.com/css2?family=Varela&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
body{
    color: #fff;
    font-family: Poppins, sans-serif;
    background: #13101E;
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.logo {
   display: flex;
   align-items: center; 
   padding: 5px;
}
.logo img {
   width: 100%;
}
.logo span{
    font-size: 80px;
    margin-left: 15px;
    text-transform: uppercase;
    font-family: Pintanina, sans-serif;
    
}
div.btn-menu a{
    background: linear-gradient(180deg, #b13fff 0%, #292bf2 100%);
    padding: 10px 20px;
    border-radius: 9px;
    color:#ffffff;
    text-transform: uppercase;
    font-size: 16px;
    text-decoration: none;
    letter-spacing: 1;
}
.line-container{position: relative;}
.line-container::before{
		content: "";
    position: absolute;
    background-image: url(../img/lines.png);
    top: 0;
    left: 0;
    width: 100%;
    height: 4em;
		opacity: 1;
	background-position: center center;
    background-size: cover;
    opacity: 0.3;
    z-index: -1; 
}
h1{
    color:#fff;
    font-family: 'Varela', sans-serif;
    font-size: 65px;
		font-weight: 600;
		text-transform: capitalize;
		line-height: 1.2em;
	  letter-spacing: -0.5px;
}
.bk-img {
    position: relative;
}

.bk-img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/background-container.jpg);
    background-position: center center;
    background-size: cover;
    opacity: 0.5;
    z-index: -1; 
}
.heading-title{
	font-size: 2.5em;
}
.text-apoio{
		line-height: 1.7em;
		color:#b9dae7;
	  font-weight: 300;
		font-size: 1.2em;
}
.text-apoioh{
		line-height: 1.7em;
		color:#b9dae7;
	  font-weight: 300;
		font-size: 1.4em;
}
          
.btn-grad {
	background-image: linear-gradient(#282237 20%, #211d30 85%, #2e2a3a 20%);
	margin: 10px;
	padding: 15px 45px;
	text-align: center;
	text-transform: uppercase;
	transition: 0.5s;
	background-size: 200% auto;
	color: white;            
	box-shadow: 0 0 2px #eee;
	border-radius: 10px;
	display: block;
	border: none ;
	font-size: 1.5em;
}

.btn-grad:hover {
	background: #b9dae7 !important; 
	color: #13101E;
	font-weight: 600;
	text-decoration: none;
}
.img-punk{
	width: auto;
	padding: 2em 0;
}         
.hlink {
	color: #00ffff;
	letter-spacing: 1px;
	font-weight: 200;
	font-size: 1.3em;
	text-decoration: none;
}
.logo-footer{
	width: 15%;
}         
